<nav class=" navbar  bg-light  navbarMe">

    <div class="navs">
        <ul>
        <a href="/"><li>Home</li></a> 
        <a href="/weather"><li>Weather</li></a> 
        </ul>
    </div>



    <div class="box">
        <input type="text"  placeholder="search...">
        <a href="#">
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>
    </div>
</nav>
